---
http_interactions:
- request:
    method: get
    uri: https://api.currencyapi.com/v3/latest?apikey=API_KEY_MOCK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Charset:
      - utf-8
      X-Execution-Time:
      - '20.71'
      X-Cost:
      - '1'
      X-Ratelimit-Limit-Quota-Month:
      - '300'
      X-Ratelimit-Remaining-Quota-Month:
      - '295'
      X-Ratelimit-Limit-Quota-Minute:
      - '10'
      X-Ratelimit-Remaining-Quota-Minute:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"last_updated_at":"2024-01-02T23:59:59Z"},"data":{"ADA":{"code":"ADA","value":1.6448831318},"AED":{"code":"AED","value":3.6710704835},"AFN":{"code":"AFN","value":70.0343120125},"ALL":{"code":"ALL","value":94.8125666632},"AMD":{"code":"AMD","value":408.1697451908},"ANG":{"code":"ANG","value":1.7860603204},"AOA":{"code":"AOA","value":829.3267823077},"ARB":{"code":"ARB","value":0.5616319371},"ARS":{"code":"ARS","value":810.4906744681},"AUD":{"code":"AUD","value":1.4779102441},"AVAX":{"code":"AVAX","value":0.0245144775},"AWG":{"code":"AWG","value":1.79},"AZN":{"code":"AZN","value":1.7},"BAM":{"code":"BAM","value":1.790240346},"BBD":{"code":"BBD","value":2},"BDT":{"code":"BDT","value":109.6034183672},"BGN":{"code":"BGN","value":1.7800103262},"BHD":{"code":"BHD","value":0.376},"BIF":{"code":"BIF","value":2848.4006965063},"BMD":{"code":"BMD","value":1},"BNB":{"code":"BNB","value":0.003092719},"BND":{"code":"BND","value":1.3249602255},"BOB":{"code":"BOB","value":6.9321611602},"BRL":{"code":"BRL","value":4.9229309835},"BSD":{"code":"BSD","value":1},"BTC":{"code":"BTC","value":2.21947e-5},"BTN":{"code":"BTN","value":83.9719134783},"BUSD":{"code":"BUSD","value":0.9949408133},"BWP":{"code":"BWP","value":13.5416318908},"BYN":{"code":"BYN","value":3.3001366805},"BYR":{"code":"BYR","value":33001.370201306},"BZD":{"code":"BZD","value":2},"CAD":{"code":"CAD","value":1.3319701806},"CDF":{"code":"CDF","value":2661.1013762499},"CHF":{"code":"CHF","value":0.849780125},"CLF":{"code":"CLF","value":0.0236500025},"CLP":{"code":"CLP","value":884.5756105357},"CNY":{"code":"CNY","value":7.139541073},"COP":{"code":"COP","value":3894.033753859},"CRC":{"code":"CRC","value":520.4175122019},"CUC":{"code":"CUC","value":1},"CUP":{"code":"CUP","value":24},"CVE":{"code":"CVE","value":100.7635944487},"CZK":{"code":"CZK","value":22.5012944204},"DAI":{"code":"DAI","value":0.9956596661},"DJF":{"code":"DJF","value":177.721},"DKK":{"code":"DKK","value":6.8119607886},"DOP":{"code":"DOP","value":57.9567859842},"DOT":{"code":"DOT","value":0.1184197268},"DZD":{"code":"DZD","value":135.1065996737},"EGP":{"code":"EGP","value":30.9415733846},"ERN":{"code":"ERN","value":15},"ETB":{"code":"ETB","value":56.6738259734},"ETH":{"code":"ETH","value":0.0004233187},"EUR":{"code":"EUR","value":0.9135501695},"FJD":{"code":"FJD","value":2.2280503504},"FKP":{"code":"FKP","value":0.7921876623},"GBP":{"code":"GBP","value":0.7921001133},"GEL":{"code":"GEL","value":2.6881404428},"GGP":{"code":"GGP","value":0.7921873551},"GHS":{"code":"GHS","value":11.8983416192},"GIP":{"code":"GIP","value":0.7921872028},"GMD":{"code":"GMD","value":58.6739598535},"GNF":{"code":"GNF","value":8560.3631334935},"GTQ":{"code":"GTQ","value":7.8138909189},"GYD":{"code":"GYD","value":209.1463898595},"HKD":{"code":"HKD","value":7.8143508372},"HNL":{"code":"HNL","value":24.6549243031},"HRK":{"code":"HRK","value":7.0196812918},"HTG":{"code":"HTG","value":132.4459405101},"HUF":{"code":"HUF","value":348.6594147034},"IDR":{"code":"IDR","value":15446.548317859},"ILS":{"code":"ILS","value":3.6553004753},"IMP":{"code":"IMP","value":0.792187551},"INR":{"code":"INR","value":83.1972344458},"IQD":{"code":"IQD","value":1307.579736629},"IRR":{"code":"IRR","value":41991.339737188},"ISK":{"code":"ISK","value":137.5248772232},"JEP":{"code":"JEP","value":0.7921872813},"JMD":{"code":"JMD","value":155.8500592094},"JOD":{"code":"JOD","value":0.71},"JPY":{"code":"JPY","value":142.114286267},"KES":{"code":"KES","value":157.3279282761},"KGS":{"code":"KGS","value":89.8136367669},"KHR":{"code":"KHR","value":4075.5586773121},"KMF":{"code":"KMF","value":449.2915406845},"KPW":{"code":"KPW","value":900.0095843499},"KRW":{"code":"KRW","value":1310.5264018977},"KWD":{"code":"KWD","value":0.3074600502},"KYD":{"code":"KYD","value":0.83333},"KZT":{"code":"KZT","value":452.8480371828},"LAK":{"code":"LAK","value":20562.788470712},"LBP":{"code":"LBP","value":15004.319428914},"LKR":{"code":"LKR","value":322.6873181193},"LRD":{"code":"LRD","value":188.563714394},"LSL":{"code":"LSL","value":18.5668621551},"LTC":{"code":"LTC","value":0.0136221926},"LTL":{"code":"LTL","value":3.1552837397},"LVL":{"code":"LVL","value":0.6422419509},"LYD":{"code":"LYD","value":4.7698208031},"MAD":{"code":"MAD","value":9.9178612904},"MATIC":{"code":"MATIC","value":1.0276833243},"MDL":{"code":"MDL","value":17.2658420349},"MGA":{"code":"MGA","value":4586.7553205469},"MKD":{"code":"MKD","value":56.1629298913},"MMK":{"code":"MMK","value":2094.2204360342},"MNT":{"code":"MNT","value":3423.8266619341},"MOP":{"code":"MOP","value":8.0374209608},"MRO":{"code":"MRO","value":356.999828},"MUR":{"code":"MUR","value":44.0056467412},"MVR":{"code":"MVR","value":15.4483729699},"MWK":{"code":"MWK","value":1682.8520955567},"MXN":{"code":"MXN","value":17.0225023376},"MYR":{"code":"MYR","value":4.6005504609},"MZN":{"code":"MZN","value":63.6777184442},"NAD":{"code":"NAD","value":18.518622936},"NGN":{"code":"NGN","value":883.9181348242},"NIO":{"code":"NIO","value":36.689700149},"NOK":{"code":"NOK","value":10.3452012545},"NPR":{"code":"NPR","value":134.0404286677},"NZD":{"code":"NZD","value":1.5999701944},"OMR":{"code":"OMR","value":0.3839700397},"OP":{"code":"OP","value":0.2684634682},"PAB":{"code":"PAB","value":0.9989101057},"PEN":{"code":"PEN","value":3.7120606288},"PGK":{"code":"PGK","value":3.7634005663},"PHP":{"code":"PHP","value":55.5812889703},"PKR":{"code":"PKR","value":281.7255510811},"PLN":{"code":"PLN","value":3.9894105058},"PYG":{"code":"PYG","value":7296.1268185048},"QAR":{"code":"QAR","value":3.6389903644},"RON":{"code":"RON","value":4.5407106871},"RSD":{"code":"RSD","value":106.0841174483},"RUB":{"code":"RUB","value":90.8449466717},"RWF":{"code":"RWF","value":1259.6895269521},"SAR":{"code":"SAR","value":3.7432906953},"SBD":{"code":"SBD","value":8.4169045708},"SCR":{"code":"SCR","value":14.2987227915},"SDG":{"code":"SDG","value":601.5},"SEK":{"code":"SEK","value":10.2016716145},"SGD":{"code":"SGD","value":1.3261601437},"SHP":{"code":"SHP","value":0.7921000794},"SLL":{"code":"SLL","value":22778.366515952},"SOL":{"code":"SOL","value":0.0093412938},"SOS":{"code":"SOS","value":570.93403698},"SRD":{"code":"SRD","value":36.384234888},"STD":{"code":"STD","value":22373.93152206},"SVC":{"code":"SVC","value":8.75},"SYP":{"code":"SYP","value":13001.732120049},"SZL":{"code":"SZL","value":18.5399329177},"THB":{"code":"THB","value":34.2591146903},"TJS":{"code":"TJS","value":10.9522620549},"TMT":{"code":"TMT","value":3.5},"TND":{"code":"TND","value":3.0817005886},"TOP":{"code":"TOP","value":2.3177503898},"TRY":{"code":"TRY","value":29.7381358467},"TTD":{"code":"TTD","value":6.6961213118},"TWD":{"code":"TWD","value":30.9110753044},"TZS":{"code":"TZS","value":2511.7906521344},"UAH":{"code":"UAH","value":38.127086896},"UGX":{"code":"UGX","value":3779.4409688932},"USD":{"code":"USD","value":1},"USDC":{"code":"USDC","value":0.9943358256},"USDT":{"code":"USDT","value":0.9949074272},"UYU":{"code":"UYU","value":39.0547943419},"UZS":{"code":"UZS","value":12340.492963183},"VEF":{"code":"VEF","value":3582564.9905631},"VND":{"code":"VND","value":24314.24527897},"VUV":{"code":"VUV","value":118.6207168924},"WST":{"code":"WST","value":2.7089993236},"XAF":{"code":"XAF","value":599.2705645001},"XAG":{"code":"XAG","value":0.0423009942},"XAU":{"code":"XAU","value":0.0004855476},"XCD":{"code":"XCD","value":2.7},"XDR":{"code":"XDR","value":0.7488501223},"XOF":{"code":"XOF","value":599.2705652805},"XPD":{"code":"XPD","value":0.0009084365},"XPF":{"code":"XPF","value":108.9277547628},"XPT":{"code":"XPT","value":0.0010123033},"XRP":{"code":"XRP","value":1.5919107896},"YER":{"code":"YER","value":249.7572466785},"ZAR":{"code":"ZAR","value":18.5625835375},"ZMK":{"code":"ZMK","value":9001.2},"ZMW":{"code":"ZMW","value":25.8117827568},"ZWL":{"code":"ZWL","value":6177.3456324991}}}'
  recorded_at: Wed, 03 Jan 2024 04:11:10 GMT
recorded_with: VCR 6.2.0
